script(src="/src/debug/debug.js")
script(src="/src/debug/renderer/renderer.js")
script(src="/src/debug/renderer/entity/entity.js")
script(src="/src/debug/renderer/entity/frame.js")
script(src="/src/debug/renderer/map/map.js")
script(src="/src/debug/renderer/map/frame.js")
script(src="/src/debug/renderer/map/collision.js")
script(src="/src/debug/renderer/map/platform.js")