script(src="/src/editor/editor.js")
script(src="/src/editor/settings.js")
	
script(src="/src/editor/util/selector.js")
script(src="/src/editor/util/shapes.js")
script(src="/src/editor/util/pan-camera.js")
script(src="/src/editor/util/move-body.js")

script(src="/src/editor/tools/brush.js")
script(src="/src/editor/tools/erase.js")
script(src="/src/editor/tools/pan.js")
script(src="/src/editor/tools/move.js")
script(src="/src/editor/tools/select-tileset.js")

script(src="/src/editor/toolbox.js")
script(src="/src/editor/renderer.js")
script(src="/src/editor/game-editor.js")
script(src="/src/editor/page-binds.js")