script(src="/src/behaviors/walker.js")
script(src="/src/behaviors/floater.js")

script(src="/src/ai/ai.js")

script(src="/src/ai/walker/walker.js")
script(src="/src/ai/walker/combined-map.js")
script(src="/src/ai/walker/platform-map.js")
script(src="/src/ai/walker/kinematics.js")
script(src="/src/ai/walker/platform-area.js")
script(src="/src/ai/walker/patch.js")
script(src="/src/ai/walker/link.js")
script(src="/src/ai/walker/platform-util.js")
script(src="/src/ai/walker/generator.js")
script(src="/src/ai/walker/reachable/reachable.js")
script(src="/src/ai/walker/platform-scan/scan.js")
script(src="/src/ai/walker/platform-scan/scanner.js")
script(src="/src/ai/walker/level-info.js")

script(src="/src/ai/agent.js")

script(src="/src/controllers/partner.js")
script(src="/src/entities/partner.js")