html
	head
		link(href="/reset.css", rel="stylesheet")
		link(href="/style.css", rel="stylesheet")

		script(src="/underscore-min.js")
		script(src="/jquery-1.11.2.min.js")
		script(src="/jquery.animate-colors-min.js")
		script(src="/stats.js")

		script(src="/src/gm.js")
		script(src="/src/constants.js")
		script(src="/src/settings.js")
		script(src="/src/math.js")
		script(src="/src/image-resource.js")
		script(src="/src/renderer.js")
		script(src="/src/input.js")
		script(src="/src/collision-rules.js")
		script(src="/src/transform-functions.js")
		script(src="/src/body.js")
		script(src="/src/sprite.js")
		
		script(src="/src/map/map.js")
		script(src="/src/map/renderer.js")
		script(src="/src/map/renderer-image.js")
		script(src="/src/map/renderer-sprite.js")

		script(src="/src/pos-map.js")
		script(src="/src/pos-map-tile.js")

		script(src="/src/entity/entity.js")
		script(src="/src/entity/model.js")
		script(src="/src/entity/renderer-sprite.js")

		script(src="/src/layer-map.js")
		script(src="/src/layer/layer.js")
		script(src="/src/layer/model.js")
		script(src="/src/camera.js")
		script(src="/src/entity-physics.js")
		script(src="/src/level/level.js")
		script(src="/src/level/renderer.js")
		script(src="/src/game.js")
		
		script(src="/src/entity-manager.js")

		script(src="/src/debug/entity/debug.js")
		script(src="/src/debug/map/collision.js")
		script(src="/src/debug/map/debug.js")
		script(src="/src/debug/map/platform.js")
		
		script(src="/src/behaviors/walker.js")
		script(src="/src/behaviors/floater.js")
		
		script(src="/src/controllers/player.js")
		script(src="/src/controllers/partner.js")

		script(src="/src/entities/player.js")
		script(src="/src/entities/partner.js")
		
		script(src="/src/portal-manager.js")
		
		script(src="/src/editor/settings.js")
			
		script(src="/src/editor/util/selector.js")
		script(src="/src/editor/util/shapes.js")
		script(src="/src/editor/util/pan-camera.js")
		script(src="/src/editor/util/move-body.js")
		
		script(src="/src/editor/tools/brush.js")
		script(src="/src/editor/tools/erase.js")
		script(src="/src/editor/tools/pan.js")
		script(src="/src/editor/tools/move.js")
		script(src="/src/editor/tools/select-tileset.js")
		
		script(src="/src/editor/editor.js")
		script(src="/src/editor/renderer.js")
		script(src="/src/editor/page-binds.js")
		script(src="/src/editor/toolbox.js")

		script(src="/src/ai/ai.js")

		script(src="/src/ai/walker/walker.js")
		script(src="/src/ai/walker/combined-map.js")
		script(src="/src/ai/walker/platform-map.js")
		script(src="/src/ai/walker/kinematics.js")
		script(src="/src/ai/walker/platform-area.js")
		script(src="/src/ai/walker/patch.js")
		script(src="/src/ai/walker/link.js")
		script(src="/src/ai/walker/platform-util.js")
		script(src="/src/ai/walker/generator.js")
		script(src="/src/ai/walker/reachable/reachable.js")
		script(src="/src/ai/walker/platform-scan/scan.js")
		script(src="/src/ai/walker/platform-scan/scanner.js")
		script(src="/src/ai/walker/level-info.js")

		script(src="/src/ai/agent.js")

		script(src="/src/init.js")
	body
		#container
			#level
				label load
				input
				label write
				input
			#editor
				#layer-section
					h1 layers
					#layer-listing
						a.button#remove-layer -
						a.button#move-layer-up &uarr;
						a.button#move-layer-down &darr;
						ul#layer-list
					.divider
					#layer-attrs
						.attr-group
							label name
							input(value="layer1")#layer-name
						.attr-group
							label collision
							input(type="checkbox")#layer-collision
						.attr-group
							label tileset
							input(value="images/tilesets/graffiti1.png")#layer-map-tileset
						.attr-group
							label frames per row
							input(value=1)#layer-frames-per-row.small
						.attr-group
							label tilesize
							input(value=16).small#layer-map-tilesize
						.attr-group
							label tiles
							label x
							input(value=8).small#layer-map-tiles-x
							label y
							input(value=8).small#layer-map-tiles-y
						.attr-group
							label offset
							label x
							input(value=0).small#layer-map-offset-x
							label y
							input(value=0).small#layer-map-offset-y
						.attr-group
							label dist
							label x
							input(value=1).small#layer-dist-x
							label y
							input(value=1).small#layer-dist-y
						.attr-group
							label repeat
							label x
							input(type="checkbox")#layer-map-repeat-x
							label y
							input(type="checkbox")#layer-map-repeat-y
						a.button#add-layer +
						a.button#update-layer &#8634;
				#entity-section
					h1 entities
					#entity-listing
						a.button#remove-entity -
						a.button#move-entity-up &uarr;
						a.button#move-entity-down &darr;
						ul#entity-list
					.divider
					#new-entity
						.attr-group
							label name
							input(value="entity")#entity-name
						.attr-group
							label classname
							input(value="Player")#entity-class-name
						a.button#add-entity +
						a.button#update-entity &#8634;
					.divider
					#entity-attrs
			#game-content
				#buffer
				#game
