html
	head
		link(href="/reset.css", rel="stylesheet")
		link(href="/dialogue.css", rel="stylesheet")
		script(src="/underscore-min.js")
		script(src="/jquery-1.11.2.min.js")
		script(src="/jquery.animate-colors-min.js")
	body
		#container