html
	head
		link(href="/reset.css", rel="stylesheet")
		link(href="/sample/pathfinding-walker/pathfinding.css", rel="stylesheet")

		script(src="/underscore-min.js")
		script(src="/jquery-1.11.2.min.js")
		script(src="/jquery.animate-colors-min.js")
		script(src="/gif.js")
		script(src="/gif.worker.js")
		script(src="/ccapture.min.js")

		include ./../../partials/game.jade
		include ./../../partials/debug.jade
		include ./../../partials/editor.jade
		
		script(src="/src/ai/ai.js")
		
		script(src="/src/ai/walker/walker.js")
		script(src="/src/ai/walker/combined-map.js")
		script(src="/src/ai/walker/platform-map.js")
		script(src="/src/ai/walker/generator.js")
		script(src="/src/ai/walker/kinematics.js")
		script(src="/src/ai/walker/platform-area.js")
		script(src="/src/ai/walker/patch.js")
		script(src="/src/ai/walker/link.js")
		script(src="/src/ai/walker/platform-util.js")
		script(src="/src/ai/walker/render-util.js")
		script(src="/src/ai/walker/reachable/reachable.js")
		script(src="/src/ai/walker/reachable/renderer.js")
		script(src="/src/ai/walker/platform-scan/scan.js")
		script(src="/src/ai/walker/platform-scan/renderer.js")
		script(src="/src/ai/walker/platform-scan/scanner.js")
		script(src="/src/ai/walker/platform-search/search.js")
		script(src="/src/ai/walker/platform-search/renderer.js")

		script(src="/src/sample/sample.js")
		script(src="/src/sample/recorder.js")
		script(src="/src/sample/simple-editor.js")

		script(src="/sample/pathfinding-walker/src/values.js")
		script(src="/sample/pathfinding-walker/src/toy-world.js")
		script(src="/sample/pathfinding-walker/src/editor.js")
		script(src="/sample/pathfinding-walker/src/pathfinding.js")
		script(src="/sample/pathfinding-walker/src/page-binds.js")
		
	body
		#recording.hidden
			p REC &#9679;
		h1 PATHFINDING TEST
		#editor
			.option
				button#scan-platform scan platform
			.option
				button#search-platforms search platforms
			.option
				button#step step
		#game