html
	head
		link(href="/reset.css", rel="stylesheet")
		link(href="/sample/pathfinding/pathfinding.css", rel="stylesheet")

		script(src="/underscore-min.js")
		script(src="/jquery-1.11.2.min.js")
		script(src="/jquery.animate-colors-min.js")

		script(src="/src/gm.js")
		script(src="/src/constants.js")
		script(src="/src/settings.js")
		script(src="/src/collision-rules.js")
		script(src="/src/input.js")
		script(src="/src/map.js")
		script(src="/src/layer-map.js")
		script(src="/src/layer.js")
		script(src="/src/entity.js")
		script(src="/src/body.js")
		script(src="/src/camera.js")
		script(src="/src/level.js")
		script(src="/src/renderer.js")
		script(src="/src/renderers/renderer.js")
		script(src="/src/renderers/map.js")
		script(src="/src/renderers/map-debug.js")
		script(src="/src/renderers/map-collision.js")
		script(src="/src/renderers/map-platform.js")
		script(src="/src/renderers/entity-debug.js")
		script(src="/src/editor/settings.js")
		script(src="/src/editor/util/shapes.js")
		script(src="/src/editor/util/move-body.js")
		script(src="/src/editor/tools/brush.js")
		script(src="/src/editor/tools/erase.js")
		script(src="/src/editor/tools/move.js")
		script(src="/src/ai/pathfinder/combined-map.js")
		script(src="/src/ai/pathfinder/walker/platform-map.js")
		script(src="/src/ai/pathfinder/walker/platform-generator.js")
		script(src="/src/ai/pathfinder/walker/kinematics.js")
		script(src="/src/ai/pathfinder/walker/platform-scan/scan.js")
		script(src="/src/ai/pathfinder/walker/platform-scan/renderer.js")
		script(src="/src/ai/pathfinder/walker/platform-scan/scanner.js")
		script(src="/sample/pathfinding/src/values.js")
		script(src="/sample/pathfinding/src/toy-world.js")
		script(src="/sample/pathfinding/src/editor.js")
		script(src="/sample/pathfinding/src/search.js")
		script(src="/sample/pathfinding/src/page-binds.js")
		
	body
		h1 PATHFINDING TEST
		#editor
			.option
				button#plan-path plan path
			.option
				button#plan-path-step step
			.option
				label render level
				input(type="checkbox")#toggle-level-renderer
			.option
				label render platforms
				input(type="checkbox")#toggle-platform-renderer
			.option
				label render areas
				input(type="checkbox")#toggle-area-renderer
			.option
				label render detection areas
				input(type="checkbox")#toggle-detection-area-renderer
		#game