html
	head
		link(href="/reset.css", rel="stylesheet")
		link(href="/sample/pathfinding/pathfinding.css", rel="stylesheet")

		script(src="/underscore-min.js")
		script(src="/jquery-1.11.2.min.js")
		script(src="/jquery.animate-colors-min.js")
		script(src="/gif.js")
		script(src="/gif.worker.js")
		script(src="/ccapture.min.js")

		script(src="/src/gm.js")
		script(src="/src/constants.js")
		script(src="/src/settings.js")
		script(src="/src/math.js")
		script(src="/src/collision-rules.js")
		script(src="/src/input.js")
		script(src="/src/map.js")
		script(src="/src/pos-map.js")
		script(src="/src/pos-map-tile.js")
		script(src="/src/layer-map.js")
		script(src="/src/layer.js")
		script(src="/src/entity.js")
		script(src="/src/body.js")
		script(src="/src/camera.js")
		script(src="/src/level.js")
		script(src="/src/renderer.js")
		script(src="/src/renderers/renderer.js")
		script(src="/src/renderers/map.js")
		script(src="/src/renderers/map-debug.js")
		script(src="/src/renderers/map-collision.js")
		script(src="/src/renderers/map-platform.js")
		script(src="/src/renderers/entity-debug.js")
		script(src="/src/editor/settings.js")
		script(src="/src/editor/util/shapes.js")
		script(src="/src/editor/util/move-body.js")
		script(src="/src/editor/tools/brush.js")
		script(src="/src/editor/tools/erase.js")
		script(src="/src/editor/tools/move.js")
		script(src="/src/ai/ai.js")
		script(src="/src/ai/combined-map.js")
		script(src="/src/ai/platform-map.js")
		script(src="/src/ai/pathfinding.js")
		script(src="/src/ai/generator.js")
		script(src="/src/ai/kinematics.js")
		script(src="/src/ai/area.js")
		script(src="/src/ai/patch.js")
		script(src="/src/ai/link.js")
		script(src="/src/ai/platform-util.js")
		script(src="/src/ai/render-util.js")
		script(src="/src/ai/reachable/reachable.js")
		script(src="/src/ai/reachable/renderer.js")
		script(src="/src/ai/reachable-observer.js")
		script(src="/src/ai/platform-scan/scan.js")
		script(src="/src/ai/platform-scan/renderer.js")
		script(src="/src/ai/platform-scan/scanner.js")
		script(src="/src/ai/platform-search/search.js")
		script(src="/src/ai/platform-search/renderer.js")
		script(src="/src/ai/observe-map/map.js")
		script(src="/src/ai/observe-map/renderer.js")
		script(src="/sample/pathfinding/src/values.js")
		script(src="/sample/pathfinding/src/toy-world.js")
		script(src="/sample/pathfinding/src/editor.js")
		script(src="/sample/pathfinding/src/pathfinding.js")
		script(src="/sample/pathfinding/src/recorder.js")
		script(src="/sample/pathfinding/src/page-binds.js")
		
	body
		#recording.hidden
			p REC &#9679;
		h1 PATHFINDING TEST
		#editor
			.option
				button#scan-platform scan platform
			.option
				button#search-platforms search platforms
			.option
				button#step step
			br
			.option
				button#observe-map observe map
		#game