html
	head
		link(href="/reset.css", rel="stylesheet")
		link(href="/style.css", rel="stylesheet")

		script(src="/underscore-min.js")
		script(src="/jquery-1.11.2.min.js")
		script(src="/jquery.animate-colors-min.js")

		script(src="/src/gm.js")
		script(src="/src/constants.js")
		script(src="/src/settings.js")
		script(src="/src/collision-rules.js")
		script(src="/src/map.js")
		script(src="/src/layer-map.js")
		script(src="/src/layer.js")
		script(src="/src/nav-grid.js")
		script(src="/src/body.js")
		script(src="/src/camera.js")
		script(src="/src/renderers/map.js")
		script(src="/src/renderers/map-debug.js")
		script(src="/src/renderers/map-collision.js")
		script(src="/src/renderers/map-platform.js")
		script(src="/src/editor/tools/brush.js")
		script(src="/src/sample/sample.js")
		script(src="/src/sample/pathfinding/init.js")
		
	body
		#game